html,
html::before,
html::after {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $color-gray;
  font-family: $font-main;
  font-size: 1.6rem;
  line-height: 1.6;
  &.js-modal-open {
    overflow: hidden;
  }
}

img {
  height: auto;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 1rem;
  @include full {
    padding: 0;
  }
}

.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

a {
  text-decoration: none;
}
