h1,
h2,
h3,
h4,
h5,
h6 {
  .plans & {
    margin: 0 0 1rem 0;
    text-align: center;
  }
}

h3 {
  .plans & {
    font-size: 2rem;
    margin-bottom: 0;
    
    @include tablet-min {
      font-size: 1.75rem;
    }
  }

  .platinum & {
    color: $color-brown;
  }
}

h4 {
  .plans & {
    font-size: 1.25rem;
    font-weight: normal;
  }
}

body {
  color: $color-black;
  font-size: 1.4rem;
}